@page
@model RazorPagesMovie.Pages_Movies.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Clase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Clase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Horario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Aula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Aula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Profesor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Profesor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie?.ID">Editar</a> |
    <a asp-page="./Index">Ver lista</a>
</div>
