@page
@model RazorPagesMovie.Pages_Movies.IndexModel

@{
    ViewData["Title"] = "Cursos";
}

<h1>Cursos</h1>

<p>
    <a asp-page="Create">Crear curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Clase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Aula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Profesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
